* {
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin-left: 15vw;
    margin-right: 15vw;
}

.container {
    overflow: hidden;
    border: 3px solid orange;
    position: relative;
    display: flex;
}

.logo {
    height: 100px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    position: fixed;
    top: 0px;
    width: 200px;
    h2 {
        border: 2px solid green;
    }
    div {
        border: 2px solid green;
        padding: 40px;
        margin: 20px;
    }
}

.middle-bar {
    flex: 1;
    .project-container {
        margin-left: 190px;
        margin-right: 130px;
        border: 2px solid red;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(440px, 1fr));
        div {
            margin: 20px;
            height: 400px;
            width: 400px;
        }
}
}

.right-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 15vw;
    top: 0px;
    h2 {
        border: 2px solid rgb(34, 47, 173);
    }
    div {
        border: 2px solid rgb(34, 47, 173);
        padding: 40px;
        margin: 20px;
    }
}

.footer {
    grid-column: span 3;
}