@font-face {
    font-family: "LobsterTwo";
    font-weight: normal;
    font-style: normal;
    src:url(./font/LobsterTwo-Italic.woff2);
    src: url(./font/LobsterTwo-Italic.woff);
}

:root {
    --background-color: rgb(226, 246, 245);
    --font-color: rgb(74, 30, 34);
}

* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'LobsterTwo', Roboto, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    text-decoration: none;
}

body {
    margin: 0;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: var(--background-color);
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: rgb(54, 53, 52);
}

h1, h2 {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: calc(2vw + 1rem);
    text-shadow: 1px 1px 4px #463d3d;
    cursor: default;
    background-color: #fff6f6;
    box-shadow: 1px 1px 3px 3px rgb(143, 142, 142);
    margin-left: 250px;
    margin-right: 250px;
    min-width: 80px;
}

h2 {
    font-size: calc(1vw + 1rem);
    color: rgb(54, 53, 52);
    text-shadow: 1px 1px 4px #463d3d;
    cursor: default;
    background-color: #fff6f6;
    box-shadow: 1px 1px 3px 3px rgb(143, 142, 142);
}

.container {
    background-color: var(--background-color);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 3px 3px rgb(143, 142, 142);
    display: flex;
        margin-left: 190px;
        margin-right: 190px;
}

.left-bar {
    background-color: var(--background-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    position: fixed;
    left: 15vw;
    top: 15px;
    width: 180px;
    div {
        display: flex;
        padding: 10px;
        justify-content: center;
        svg {
            color: rgb(74, 30, 34);
            filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
            height: 100px;
            width: 100px;
            transition: transform 0.4s ease;
            &:hover {
                transform: rotate(360deg) scale(1.4);
                transform-origin: 50% 50%;
            }
         }
     }
 }

.middle-bar {
    background-color: #fff6f6;
    flex: 1;
    h2 {
            margin-left: 100px;
            margin-right: 100px;
        }
    .project-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
        gap: 20px;
        margin: 20px;
        div {
            iframe {
                border-radius: 5px;
                aspect-ratio: 1 / 1;
            }
        }
    }
}

.right-bar {
    background-color: var(--background-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 15vw;
    top: 15px;
    width: 180px;
    div {
        padding: 10px;
        margin: 20px;
        transition: transform 0.15s ease;
        &:hover {
             transform: scale(1.2);
        }
        a {
            color: rgb(74, 30, 34);
            font-size: calc(1vw + 0.5rem);
            text-shadow: 1px 1px 1px rgb(174, 174, 174);
        }
    }
}

.footer {
    grid-column: span 3;
}

@media (max-width: 1210px) {
    body {
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .right-bar {
        right: 0vw;
    }
    .left-bar {
        left: 0vw;
    }
}

@media (max-width: 840px) {
    .right-bar, .left-bar {
        display: none;
    }
    .container {
    margin-left: 0px;
    margin-right: 0px;
    }
}